<div id="top-bar">
  <div id="nav-bar">
    <h2>{{logo}}</h2>
    <button id="my-cart" (click)="toggleMyCart()">My Cart</button>
  </div>
</div>

<div id="container">
<div id="productList">
  <h3>Item for Sell</h3>
  <div id="product">
    <div id="product-item" class="clear" *ngFor="let itemList of itemLists; let i = quantity" [class.active]="i === selectedQuantity ">
      Product ID: {{itemList.itemID}}<br>
      Price: RM {{itemList.itemPrice}}<br>
      Description: {{itemList.itemDescription}}<br>
      <img src="{{itemList.itemImage}}" style="width: 150px;"/><br>
      <button (click)="Plus(itemList)"> + </button>
      <button (click)="Minus(itemList)"> - </button>
      Quantity: {{itemList.itemQuantity}}<br>
    </div>
  </div>
</div>

<div id="myCart" ng-show="cart.length !== 0">
  <h3>Item in Cart</h3>
  <div id="cartProduct">
    <div class="cart-item" *ngFor="let itemCart of itemCarts">
      Product ID: {{itemCart.itemID}}<br>
      Price: RM {{itemCart.itemPrice}}
      Description: {{itemCart.itemDescription}}
      Quantity: {{itemCart.itemQuantity}}
      Sub Total: RM {{itemCart.itemPrice * itemCart.itemQuantity}}
      <p></p>
    </div>
  </div>
</div>
</div>

<div id="footer">
  <div id="foot-bar">
    <button (click)="toggleAddtoCart()">Add to Cart</button>
    <button (click)="toggleClearCart()">Clear My Cart</button>
    <span id="totalPrice">Total : {{finalTotal(itemCarts)}}</span>
  </div>
</div>